<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Espalda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col (click)="openEjecicio(0)">
        <img src="../../assets/espalda/face bull.gif" alt="" style="width: 150px;">
        <br>
        Face bull
      </ion-col>
      <ion-col (click)="openEjecicio(1)">
        <img src="../../assets/espalda/levantamiento de cadera.gif" alt=""style="width: 150px;">
        <br>
        Levantamiento de cadera
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col (click)="openEjecicio(2)">
        <img src="../../assets/espalda/levantamientos laterales.gif" alt=""style="width: 150px;">
        <br>
        Levantamiento laterales
      </ion-col>
      <ion-col (click)="openEjecicio(3)">
        <img src="../../assets/espalda/superman.gif" alt=""style="width: 150px;">
        <br>
        Superman
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col (click)="openEjecicio(4)">
        <img src="../../assets/espalda/lat pulldown.gif" alt=""style="width: 150px;">
        <br>
        Lat pulldown
      </ion-col>
      <ion-col (click)="openEjecicio(5)">
        <img src="../../assets/espalda/wall angels.gif" alt=""style="width: 150px;">
        <br>
        Wall angel
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
