<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Piernas y Gluteos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col (click)="openEjecicio(0)">
        <img src="../../assets/pierna/desplante con inpulso y peso.gif" alt="" style="width: 150px;">
        <br>
        Desplante con impulso
      </ion-col>
      <ion-col (click)="openEjecicio(1)">
        <img src="../../assets/pierna/dezplante simple.gif" alt=""style="width: 150px;">
        <br>
        Desplante simple
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col (click)="openEjecicio(2)">
        <img src="../../assets/pierna/kickback.gif" alt=""style="width: 150px;">
        <br>
        Kickback
      </ion-col>
      <ion-col (click)="openEjecicio(3)">
        <img src="../../assets/pierna/saltos de rana completos.gif" alt=""style="width: 150px;">
        <br>
        Salto de rana
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col (click)="openEjecicio(4)">
        <img src="../../assets/pierna/sentadilla simple.gif" alt=""style="width: 150px;">
        <br>
        Sentadilla simple
      </ion-col>
      <ion-col (click)="openEjecicio(5)">
        <img src="../../assets/pierna/sentadilla sumo.gif" alt=""style="width: 150px;">
        <br>
        Sentadilla sumo
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
