<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Progreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label >Peso</ion-label>
          <ion-input ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label >Masa muscular</ion-label>
          <ion-input ></ion-input>
        </ion-item>

        <ion-item>
          <ion-button (click)="addPhotoToGallery()">
            Tomar foto 
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </ion-item>



      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="text-align: center;">
      <ion-button>
        Guardar
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
