<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Abdomen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col (click)="openEjecicio(0)">
        <img src="../../assets/abs/tijeras.gif" alt="" style="width: 150px;">
        <br>
        Tijeras
      </ion-col>
      <ion-col (click)="openEjecicio(1)">
        <img src="../../assets/abs/bicicleta con cruze.gif" alt=""style="width: 150px;">
        <br>
        Bicicleta con cruce
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col (click)="openEjecicio(2)">
        <img src="../../assets/abs/lagartijas con salto.gif" alt=""style="width: 150px;">
        <br>
        Lagartijas con salto
      </ion-col>
      <ion-col (click)="openEjecicio(3)">
        <img src="../../assets/abs/laterales.gif" alt=""style="width: 150px;">
        <br>
        Laterales
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col (click)="openEjecicio(4)">
        <img src="../../assets/abs/levantamiento por tiempos.gif" alt=""style="width: 150px;">
        <br>
        Levantamiento por tiempos
      </ion-col>
      <ion-col (click)="openEjecicio(5)">
        <img src="../../assets/abs/levantamientos sincronizados.gif" alt=""style="width: 150px;">
        <br>
        Levantamiento sincronizados
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
