<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="data">
    <ion-card-header>
      <ion-card-title style="text-align: center;">
        {{ data.name }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <img src="{{data.img}}" alt="">
      <p style="text-align: center;">{{repeticiones}} repeticions y {{series}} series</p>

      <ion-row>
        <ion-col>
          <h4>Tiempo restante {{restante}} segundos</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button (click)="startTimer()"> Iniciar</ion-button>
        </ion-col>
      </ion-row>


      
    </ion-card-content>
  </ion-card>
</ion-content>
