<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Progresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let data of Data">
      <ion-avatar slot="start">
        <img [src]="_DomSanitizer.bypassSecurityTrustUrl(data.foto)">
      </ion-avatar>
      <ion-label>
        <h2>Semana {{key}}</h2>
        <h2>Peso: {{data.peso}}</h2>
        <h3>Masa Muscular: {{data.masa_muscular}}</h3>
      </ion-label>
      
      

    </ion-item>
    
   
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/addregistro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
