<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Progresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/50">
      </ion-avatar>
      <ion-label>
        <h2>Semana 1</h2>
        <h2>Peso: </h2>
        <h3>Masa Muscular</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/50">
      </ion-avatar>
      <ion-label>
        <h2>Semana 2</h2>
        <h2>Peso: </h2>
        <h3>Masa Muscular</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/50">
      </ion-avatar>
      <ion-label>
        <h2>Semana 3</h2>
        <h2>Peso: </h2>
        <h3>Masa Muscular</h3>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/addregistro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
