<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AppFit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AppFit</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Bienvenido</h2>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/registro']">Ingresar</ion-button>
        </ion-col>
      </ion-row>



    </ion-grid>
  </div>
</ion-content>
