<ion-header>
  <ion-toolbar>
    <ion-title>Entrenamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col [routerLink]="['/progresos']">
        <img src="https://picsum.photos/100/100" alt="">
        Progreso
      </ion-col>
      <ion-col>
        <img src="https://picsum.photos/100/100" alt="">
        Cardio
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <img src="https://picsum.photos/100/100" alt="">
        Brazos
      </ion-col>
      <ion-col>
        <img src="https://picsum.photos/100/100" alt="">
        Pierna y Gluteos
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <img src="https://picsum.photos/100/100" alt=""><br>
        ABS
      </ion-col>
      <ion-col>
        <img src="https://picsum.photos/100/100" alt="">
        Esplada
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
