<ion-header>
  <ion-toolbar>
    <ion-title>Entrenamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col [routerLink]="['/progresos']">
        <img src="../../assets/progreso.png" alt="" style="width: 75px;">
        Progreso
      </ion-col>
      <ion-col [routerLink]="['/cardio']">
        <img src="../../assets/bici.png" alt=""style="width: 75px;">
        <br>
        Cardio
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <img src="../../assets/brazos.png" alt=""style="width: 75px;">
        <br>
        Brazos
      </ion-col>
      <ion-col>
        <img src="../../assets/pierna.png" alt=""style="width: 75px;">
        <br>
        Pierna y Gluteos
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <img src="../../assets/pecho.png" alt=""style="width: 75px;">
        <br>
        ABS
      </ion-col>
      <ion-col>
        <img src="../../assets/pesas.png" alt=""style="width: 75px;">
        <br>
        Esplada
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
