<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="text-center" style="text-align: center;" >
      <ion-col>
          <img src="../../assets/pesas2.png" style="width: 100px;"  >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label >Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" ></ion-input>
          </ion-item>        
          <ion-item>
            Genero
          </ion-item>
          <ion-item>
            <ion-radio-group [(ngModel)]="genero">
              <ion-item>
                <ion-label>Femenino</ion-label>
                <ion-radio value="femenino"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Masculino</ion-label>
                <ion-radio value="masculino"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>

          <ion-item>
            <ion-label>Estatura</ion-label>
            <ion-input [(ngModel)]="estatura" placeholder="170"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label >Peso</ion-label>
            <ion-input [(ngModel)]="peso" placeholder="50"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label >Masa muscular</ion-label>
            <ion-input [(ngModel)]="masa_muscular" ></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-button (click)="registrarse()" >Registrarse</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
